## Python test of the logistic regresion algorithm-

In [2]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv('dataset_test.csv')
testing_set = data.drop(['Index'], axis=1)

In [7]:
testing_set.head()

,Hogwarts House,First Name,Last Name,Birthday,Best Hand,Arithmancy,Astronomy,Herbology,Defense Against the Dark Arts,Divination,Muggle Studies,Ancient Runes,History of Magic,Transfiguration,Potions,Care of Magical Creatures,Charms,Flying
0,NaN,Rico,Sargent,2001-10-06,Right,41642.0,696.096071,3.020172,-6.960961,7.996,-365.151850,393.138185,4.207691,1046.742736,3.668983,0.373853,-244.48172,-13.62
1,NaN,Tamara,Shackelford,1998-01-08,Left,45352.0,-370.844655,2.965226,3.708447,6.349,522.580486,602.853051,6.460017,1048.053878,8.514622,0.577432,-231.29200,-26.26
2,NaN,Staci,Crandall,1998-09-15,Left,43502.0,320.303990,-6.185697,-3.203040,4.619,-630.073207,588.071795,-5.565818,936.437358,1.850829,-1.647150,-252.99343,200.15
3,NaN,Dee,Gavin,2001-05-10,Right,61831.0,407.202928,4.962442,NaN,NaN,-449.179806,427.699966,NaN,1043.397718,4.656573,1.164708,-244.01660,-11.15
4,NaN,Gregory,Gustafson,1999-02-01,Right,NaN,288.337747,3.737656,-2.883377,4.886,-449.732166,385.712782,2.876347,1051.377936,2.750586,0.102104,-243.99806,-7.12

In [14]:
weights = pd.read_csv('log_train_weights.csv', index_col=0)

In [15]:
weights

    Weights_Gry  Weights_Sly  Weights_Rav  Weights_Huf
0      0.162023     0.287608    -1.565254    -0.559411
1      0.052580     0.116434    -0.837100    -0.189994
2      1.112888    -1.651937    -2.857689     2.412867
3     -1.756860    -1.979901     1.172373     2.405970
4     -0.950865     1.939544     1.292435    -2.972278
5      0.714784    -2.991004     0.552779     0.995475
6     -0.458442    -0.947211     2.671590    -1.563006
7      1.788083    -1.369328     1.827128    -2.957011
8     -2.255698     0.638578    -0.236097     1.383498
9     -2.435501     0.816834    -0.272647     1.373602
10    -0.761497     1.494718    -0.649807    -0.887830
11    -0.024782     0.111811    -0.588653    -0.168920
12    -1.312893    -1.395486     2.692782    -0.152781
13     2.302418    -1.126389    -0.841563    -1.410591
14          NaN     0.287608    -1.565254    -0.559411

We use the X of the testing set to predict what the houses will be for the new students.

In [20]:
X = testing_set.drop(['Hogwarts House', 'First Name', 'Last Name', 'Birthday', 'Best Hand'], axis = 1)

In [18]:
X.shape

(400, 13)

In [22]:
def add_intercept(Z):
    cols = Z.columns
    Z['Intercept'] = 1
    return Z.filter(['Intercept'] + list(cols))

In [23]:
J = add_intercept(X)

In [24]:
J.columns

Index(['Intercept', 'Arithmancy', 'Astronomy', 'Herbology',
       'Defense Against the Dark Arts', 'Divination', 'Muggle Studies',
       'Ancient Runes', 'History of Magic', 'Transfiguration', 'Potions',
       'Care of Magical Creatures', 'Charms', 'Flying'],
      dtype='object')

In [ ]:
results = pd.concat([np.dot(J,weights['Weights_Gry']),])